<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-lg border-0">
        <div class="card-body text-center">
          <h1 class="card-title display-4 text-primary mb-4 fs-2">生まれ年トヨタ車両検索</h1>
          <div class="card bg-light py-3 mb-4">
            <p class="card-text lead mb-0">1990年から2024年まで検索可能です!</p>
            <p class="card-text text-muted"><small>※一部年代には登録されていない車両があります。</small></p>
          </div>
          <div class="search-form">
            <%= form_tag(vehicles_search_path, method: :post, data: { turbo: false }) do %>
              <div class="mb-3">
                <%= label_tag :year, '生まれた年:', class: 'form-label' %>
                <div class="input-group input-group-sm">
                  <%= select_tag :year,
                                 options_for_select((1990..2024).to_a),
                                 prompt: '選択してください',
                                 class: 'form-select form-select-sm custom-select' %>
                  <%= submit_tag '検索', class: 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="search-result mt-5">
  <% if @year.present? %>
    <h2><%= @year %>年に発売されたトヨタ車両:</h2>
    <p>検索結果: <%= @vehicles.count %>件</p>
    <% if @vehicles.any? %>
      <div class="vehicle-list">
        <% @vehicles.each do |vehicle| %>
          <div class="vehicle-item">
            <h3><%= vehicle.name %></h3>
            <% if vehicle.image_url.present? %>
              <%= image_tag vehicle.image_url, alt: vehicle.name, class: 'vehicle-image' %>
            <% else %>
              <p>画像がありません</p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>
        申し訳ございません。<br/>
        該当する車両が登録されておりません。
      </p>
    <% end %>
  <% end %>
</div>
